body {
  background-color: rgb(43, 43, 43);
  font: normal 1.563em/1.38 PoiretOne-Regular;
  color: rgb(255, 255, 255);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 11.4166666666%;
  height: 166px;
  margin: -258px 0 0 45.41667%;
}

.element {
  position: relative;
  float: left;
  height: 275px;
}

.image {
  display: block;
  float: left;
  width: 137px;
  height: auto;
  margin-left: -0.30794%;
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  border-radius: 3px;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  color: rgb(145, 145, 145);
}

.element-1 {
  z-index: 0;
  width: 45.9166666666%;
  background-color: rgb(49, 255, 188);
}

.element-2 {
  clear: both;
  z-index: 1;
  width: 54.6666666666%;
  margin: -275px 0 0 45.91667%;
  background-color: #31ffbc;
}

._button-1 {
  z-index: 2;
  width: 16.3333333333%;
  height: 57px;
  margin: -57px 0 0 42.39974%;
  font-size: 1em;
}

._button-2 {
  z-index: 5;
  width: 10.3333333333%;
  height: 55px;
  margin: -92px 0 0 45.41667%;
  font-family: 'Poiret One';
  font-size: 0.8em;
  font-weight: 400;
}